footer {
    position: fixed;
    bottom: 0; /* fix to bottom */
    width: 100%; /*make width span whole page */
    height: 60px; /* adjust footer height */
    
};

/* remove bullet point from li's */
ul>li {
    list-style-type: none;
};

body {
    background-color: grey !important;
}